/******BEGIN MAIL BOX CLASSES******/
.mail-att-icon{
	float:right;
}
.inbox-header-tbl{
}
.addr-wrapper{
	height:15px;
	overflow:hidden;
}
.inbox-header-tbl .text{
/* 	width:200px; */
}
.inbox-header-tbl .label{
	vertical-align:top;
	width:60px;
	color:#999999;
	text-align:right;
	padding-right:10px;
}
/******END MAIL BOX CLASSES******/
/*******BEGIN DOCKED FORM INPUT******/
.binput .x-form-item {
    margin: 2px 1px 2px 1px;
}
.binput .tasks-new {
    background-position: 4px 5px;
}
.binput .x-form-field, .x-form-display-field {
    font-size: 11px;
}
/*******END DOCKED FORM INPUT******/
/*****BEGIN BUTTON INPUT******************/
.def_btn_new{
	background-image:url('../images/btn-icons/def_new.gif');
	background-repeat:no-repeat;
}
.def_btn_edit{
	background-image:url('../images/btn-icons/def_edit.gif');
}
.def_btn_delete{
	background-image:url('../images/btn-icons/def_delete.gif');
}
.def_btn_pause{
	background-image:url('../images/btn-icons/def_pause.png');
}
.def_btn_play{
	background-image:url('../images/btn-icons/def_play.png');
}
.def_upload{
	background-image:url('../images/btn-icons/def_upload.png');
}
/*****END BUTTON INPUT********************/